<app-navbar></app-navbar>
<div class="container flex flex-row md:mt-12 md:mx-24 m-4 text-slate-900">
  <div class="w-80">
    <ul class="w-full gap-y-2  font-bold">
      <li class="rounded bg-primary-100 text-primary-600 p-2 w-full"><fa-icon class="mr-2" [icon]="faBorderAll"></fa-icon> Boards
      </li>
      <li class="rounded p-2 w-full hover:bg-gray-100"><fa-icon class="mr-2" [icon]="faBorderAll"></fa-icon> Templates</li>
      <li class="rounded p-2 w-full hover:bg-gray-100"><fa-icon class="mr-2" [icon]="faWaveSquare"></fa-icon> Home</li>
    </ul>

    <div class="mt-4">
      <h3 class="text-gray-600 flex justify-between text-sm">
        <span class="font-semibold">
          Workspaces
        </span>
        <fa-icon [icon]="faPlus"></fa-icon>
      </h3>

      <div class="p-2 rounded mt-2 hover:bg-gray-100 flex justify-between items-center">
        <div class="flex items-center">
          <img class="h-10 rounded-lg mr-1" src="../../../assets/logos/Trello/PNG@2x/icon-contained-gradient-blue-trello.png"
            alt="icon-trello">
          <h4 class="font-bold">
            Nicolas Molina´s Workspace
          </h4>
        </div>
        <fa-icon [icon]="faChevronDown"></fa-icon>
      </div>
    </div>

  </div>

  <div class="px-12 w-full">
    <h2 class="font-bold">
      <fa-icon class="text-2xl mr-3" [icon]="faClock"></fa-icon>
      Recently viewed
    </h2>
    <div class="w-full mt-4 grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 gap-2">
      <div class="bg-primary-600 rounded p-2 w-48 h-24">
        <h3 class="font-bold text-white">Demo</h3>
      </div>
      <div class="bg-primary-600 rounded p-2 w-48 h-24">
        <h3 class="font-bold text-white">Demo</h3>
      </div>
      <div class="bg-primary-600 rounded p-2 w-48 h-24">
        <h3 class="font-bold text-white">Demo</h3>
      </div>
      <div class="bg-primary-600 rounded p-2 w-48 h-24">
        <h3 class="font-bold text-white">Demo</h3>
      </div> <div class="bg-primary-600 rounded p-2 w-48 h-24">
        <h3 class="font-bold text-white">Demo</h3>
      </div> <div class="bg-primary-600 rounded p-2 w-48 h-24">
        <h3 class="font-bold text-white">Demo</h3>
      </div>
    </div>
  </div>
</div>
