<div class="flex flex-col h-screen">
  <app-navbar></app-navbar>
  <div class="w-full grow bg-sky-600 p-6">
    <div class="flex gap-4">
      <div class="w-1/2 ">
        <h1 class="text-white">Lista A (Normal scroll)</h1>
        <div class="h-64 w-full border overflow-y-scroll bg-white rounded m-2">
          <div *ngFor="let item of products">
            <img [src]="item.images[0]" class="h-20 object-cover object-center">
            <div class="flex justify-between">
              <div>
                <h3 class="text-sm text-gray-700">
                  {{item.title}}
                </h3>
                <p class="mt-1 text-sm text-gray-500">{{item.description}}</p>
              </div>
              <p class="text-sm font-medium text-gray-900">${{item.price}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="w-1/2 ">
        <h1 class="text-white">Lista B (Virtual scroll)</h1>
        <!-- tiene mejor rendimiento, a medida que va haciendo scroll va renderizando -->
        <cdk-virtual-scroll-viewport itemSize="50" class="h-64 w-full border bg-white rounded m-2">
          <div *cdkVirtualFor="let item of products">
            <img [src]="item.images[0]" class="h-20 object-cover object-center">
            <div class="flex justify-between">
              <div>
                <h3 class="text-sm text-gray-700">
                  {{item.title}}
                </h3>
                <p class="mt-1 text-sm text-gray-500">{{item.description}}</p>
              </div>
              <p class="text-sm font-medium text-gray-900">${{item.price}}</p>
            </div>
          </div>
        </cdk-virtual-scroll-viewport>
      </div>
    </div>
  </div>
</div>
